<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
         
          
                  <b>
                <form class="form-inline">

                <div class="panel panel-info">
                  <div class="panel-heading">Datos Principales</div>
                  <div class="panel-body">
          
                      <div class="col-xs-6">
                        <div class="field">
                          <%= form.text_field :nombre, id: :cliente_nombre, class:"form-control", placeholder:"Cliente" %><br><br>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <div class="field">
                          <%= form.text_field :num_ruc, id: :cliente_num_ruc, class:"form-control", placeholder:"Nº Ruc" %><br><br>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <div class="field">
                          <%= form.text_field :telefono, id: :cliente_telefono, class:"form-control", placeholder:"Telefono" %><br><br>
                        </div>
                      </div>

                      <div class="col-xs-6">  
                        <div class="field">
                          <%= form.text_field :direccion, id: :cliente_direccion, class:"form-control", placeholder:"Direccion" %><br><br>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <div class="field">
                          <%= form.text_field :email, id: :cliente_email, class:"form-control", placeholder:"Correo Electronico" %><br><br>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <div class="field">
                          <%= form.text_field :rubro, id: :cliente_rubro, class:"form-control", placeholder:"Rubro" %><br><br>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <div class="field">
                          <%= form.text_field :gerente, id: :cliente_gerente, class:"form-control", placeholder:"Gerente/Encargado" %><br><br>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <div class="field">
                          <%= form.text_field :sucursales, id: :cliente_sucursales, class:"form-control", placeholder:"Sucrusales" %><br><br>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <div class="field">
                          <%= form.text_field :descripcion, id: :cliente_descripcion, class:"form-control", placeholder:"Descripcion" %><br><br>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <div class="field">
                          <%= form.date_field :fechaInicio, id: :cliente_fechaInicio, class:"form-control", placeholder:"Fecha Inicio" %><br><br>
                        </div>
                      </div>

        
                      <div class="col-xs-3">
                        <div class="field">
                          <%= form.label "Cliente Activo?" %>
                          <%= form.check_box :estado, id: :cliente_estado %>
                        </div>
                      </div>
          <div class="col-xs-2">
          </div>
          <div class="col-xs-3">
          </div>
      </div>
    </div>

        <div class="col-xs-3">
                        <div class="actions">
                          <%= form.submit "Guardar", :class=>"button-guardar"%>
                        </div>
                        <% end %>
        </div>
