<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3">
            <h2>Lista de Puestos</h2><br><br><br>
        </div>
       
    
         
<div class="col-xs-12">

            <div class="jumbotron">
              <div class="container">
              <div class="row">
                <div class="col-xs-1">
                    
                </div>
                <div class="col-xs-3">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Puesto</th>
                          <th>Guardia</th>
                          <th>Equipamientos</th>
                          <th>Cantidad Asignado</th>
                          <!--<th>Cantidad Disponible</th>-->
                          <th>Fecha</th>
                          
                          <th colspan="3"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @puestos.each do |puesto| %>
                          <tr>
                            <td><%= puesto.cliente.nombre %></td> 
                            <td><%= puesto.regis_guardium.nombre %></td>
                            <td><%= puesto.producto.nomProducto%></td>
                            <td><%= puesto.cantidad %></td>
                           <!-- <td><%= puesto.cantidadDisponible %></td> -->

                            <!--<td class="hidden" id= "cantidad"><%= puesto.cantidadDisponible%> </td> 
                            <td id = "cantdisponible"></td>-->
                           
                           <td><%= puesto.fechaInicio %></td>
                            
                          </tr>
                              <% end %>
                            </tbody>
                      </table>
                    </div>               

                  </div>
              </div>
            </div>
          </div>

          

</div> 

</div>
</div>
</div>

  
