<!DOCTYPE html>
<html>
<head>
<%= wicked_pdf_stylesheet_link_tag 'puestos'%>
<meta charset= "utf-8">

<title>Lista de Puestos</title>
</head>
<body>
<table>
	<thead>
		<tr>
			<th>Puesto</th>
            <th>Guardia</th>
            <th>Equipamientos</th>
            <th>Cantidad Asignado</th>
            <th>Cantidad Disponible</th>
            <th>Fecha</th>           
            <th colspan="3"></th>
        </tr>
        
    </thead>
	<tbody>
        <% @puestos.each do |puesto| %>
        <tr>
            <td><%= puesto.cliente.nombre %></td> 
            <td><%= puesto.regis_guardium.nombre %></td>
            <td><%= puesto.producto.nomProducto%></td>
            <td><%= puesto.cantidad %></td>
            <td><%= puesto.cantidadDisponible %> </td>
            <td><%= puesto.fechaInicio %></td>                  
        </tr>
        <% end %>
    </tbody>
</table>
</body>
</html>