<%= form_with(model: reporte, local: true) do |form| %>
  <% if reporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

      <ul>
      <% reporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
          <div class="col-xs-3">
          </div>
          <div class="jumbotron">
            <div class="container">
          <div class="col-xs-4">
              <form class="form-inline">
                    <div class="field">
                        <%= form.label "Puesto" %>
                        <%= form.collection_select(:puesto_id, Puesto.all, :id, :cliente_id) %>
                    </div><br><br>

                    <div class="field">
                        <%= form.label "Hora Entrada" %>
                        <%= form.datetime_field :horaEntrada, id: :reporte_horaEntrada %>
                    </div><br><br>
  
                      <div class="field">
                        <%= form.label "Hora Salida" %>
                        <%= form.datetime_field :horaSalida, id: :reporte_horaSalida %>
                      </div><br><br>

                      <!--<div class="field">
                        <%= form.label :estado %>
                        <%= form.text_field :estado, id: :reporte_estado %>
                      </div><br><br>-->

                      <div class="field">
                         <%= form.label "Ausente" %>
                         <%= form.check_box :novedad, id: :reporte_novedad %><br><br>
                      </div>

                      <div class="actions">
                        <%= form.submit %>
                      </div>
                    <% end %>
