<p id="notice"><%= notice %></p>

<h1>Presupuesto Creates</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Turno</th>
      <th>Canthora</th>
      <th>Cantguardia</th>
      <th>Armamento</th>
      <th>Montomensual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presupuesto_creates.each do |presupuesto_create| %>
      <tr>
        <td><%= presupuesto_create.fecha %></td>
        <td><%= presupuesto_create.turno %></td>
        <td><%= presupuesto_create.cantHora %></td>
        <td><%= presupuesto_create.cantGuardia %></td>
        <td><%= presupuesto_create.armamento %></td>
        <td><%= presupuesto_create.montoMensual %></td>
        <td><%= link_to 'Show', presupuesto_create %></td>
        <td><%= link_to 'Edit', edit_presupuesto_create_path(presupuesto_create) %></td>
        <td><%= link_to 'Destroy', presupuesto_create, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Presupuesto Create', new_presupuesto_create_path %>
