<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3">
            <h2>Presupuestos</h2><br><br><br>
        </div>
        <div class="col-xs-5">
        </div>
      <div class="col-xs-3">
           <%= link_to new_presupuestooo_path, class: 'btn btn-success' do %>
            <i class="glyphicon glyphicon-calendar"></i> Nuevo Presupuesto
            <% end %>
      </div>


<div class="col-xs-12">

                <div class="col-xs-2">

                </div>
                <div class="col-xs-3">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                        <th>ID</th>
                            <th>Fecha</th>
                            <th>Turno</th>
                            <th>Cantidad Hora</th>
                            <th>Cantidad Guardia</th>
                            <th>Monto Mensual</th>
                            <th colspan="3"></th>
                        </tr>
                      </thead>

                <tbody>
                  <% @presupuestooos.each do |presupuestooo| %>
                    <tr>
                    <td><%= presupuestooo.id %></td>
                      <td><%= presupuestooo.fecha %></td>
                      <td><%= presupuestooo.turno.nombre %></td>
                      <td><%= presupuestooo.cantHora %></td>
                      <td><%= presupuestooo.cantGuardia %></td>
                      <td><%= presupuestooo.montoMensual %></td>
                      

                      <td><%= link_to presupuestooo, class: 'btn btn-info' do %>
                          <i class="glyphicon glyphicon-eye-open"></i> Ver <% end %> 
                      </td>
                      <td><%= link_to edit_presupuestooo_path(presupuestooo), class: 'btn btn-info' do %>
                          <i class="glyphicon glyphicon-edit"></i> Editar <% end %>
                      </td>
                      <td><%= link_to presupuestooo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' do %>
                            <i class="glyphicon glyphicon-trash"></i> Eliminar <% end %>
                      </td>


                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>               

</div>



