<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3">
            <h2>Producto</h2><br><br><br>
        </div>
      
        <div class="col-xs-5">        
        </div>
        <div class="col-xs-3">

                      <%= link_to new_producto_path, class: 'btn btn-success' do %>
                    <i class="glyphicon glyphicon-calendar"></i> Nuevo Registro
                     <% end %>
        </div>
<div class="col-xs-12">
            <div class="jumbotron">
              <div class="container">
              <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-3">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                            <th>Categoria </th>
                            <th>Identificador </th>
                            <th>Nombre</th>
                            <th>Caracteristica</th>
                            <th>Cantidad Total</th>
                           <!-- <th>Cantidad Disponible</th> -->
                            <th colspan="3"></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @productos.each do |producto| %>
                            <tr>
                              <td><%= producto.categoria.nombre %></td>
                              <td><%= producto.identificador %></td>
                              <td><%= producto.nomProducto %></td>
                              <td><%= producto.caracteristica %></td>
                              <td><%= producto.cantidad %></td>
                              <!--<td><%= producto.cantidadDisponible %></td> -->
                             
                              <td><%= link_to producto, class: 'btn btn-info' do %>
                                <i class="glyphicon glyphicon-eye-open"></i> Ver <% end %> 
                            </td>
                            
                             <td><%= link_to edit_producto_path(producto), class: 'btn btn-info' do %>
                              <i class="glyphicon glyphicon-edit"></i> Editar <% end %>
                            </td>

                              <td><%= link_to producto, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-primary' do %>
                                    <i class="glyphicon glyphicon-trash"></i> Eliminar <% end %>
                            </td>
                            </tr>
                              <% end %>
                            </tbody>
                      </table>
                    </div>               

                  </div>
              </div>
            </div>
          </div>

          

           <div class="col-xs-5">
          </div>