<p id="notice"><%= notice %></p>

<p>
  <strong>Nomproducto:</strong>
  <%= @producto.nomProducto %>
</p>

<p>
  <strong>Caracteristica:</strong>
  <%= @producto.caracteristica %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
