<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
      <div class="row"><br><br>
      <div class="col-xs-12">
          <div class="col-xs-6">
          </div>

          <div class="col-xs-6">
				<%= link_to edit_producto_path(@producto), class: "btn btn-info" do %><i class="glyphicon glyphicon-pencil"></i> Editar <% end %> |
				<%= link_to productos_path, class: "btn btn-default"  do %><i class="glyphicon glyphicon-arrow-left"></i> Atras <% end %>         		

          </div>
          <br><br><br><br>
          <div class="col-xs-10">
            <table class="table table-striped">

          <td><p>
					  <strong>Categoria:</strong>
					  <%= @producto.categoria.nombre %>
					</p></td>

          <td><p>
            <strong>Identificador:</strong>
            <%= @producto.identificador %>
          </p></td>

					<td><p>
					  <strong>Nombre Producto:</strong>
					  <%= @producto.nomProducto %>
					</p></td>

					<td><p>
					  <strong>Caracteristica:</strong>
					  <%= @producto.caracteristica %>
					</p></td>

          <td><p>
            <strong>Cantidad Total:</strong>
            <%= @producto.cantidad %>
          </p></td>

          <td><p>
            <strong>Cantidad Asignado:</strong>
               <%= @sumar %>
          </p></td>

          <td><p>
            <strong>Cantidad Disponible:</strong>
            <%= @producto.cantidad - @sumar %>
             
          </p></td>

			</tr>
              </tbody>
            </table>          
          </div>
      </div>
    </div>
  </div>


