<%= form_with(model: puesto, local: true) do |form| %>
  <% if puesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(puesto.errors.count, "error") %> prohibited this puesto from being saved:</h2>

      <ul>
      <% puesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
         <b>
        <form class="form-inline">
            <div class="panel-body">
              <div class="col-xs-10">
                  <div class="field">
                    <%= form.label "Puesto" %>
                    <%= form.collection_select(:cliente_id, Cliente.all, :id, :nombre) %>
                  </div>        
              </div>     

              <br><br>

              <!-- Para seleccionar mas guardias en el formulario -->
              <div class="col-xs-2">
                  <%= form.label "Agregar Guardias" %>
                  <%= form.nested_fields_for :puesto_puestos do |ff| %>
                  <div class="field">
                    <%= ff.label "Guardias Disponibles" %>
                    <%= ff.collection_select(:guardia_id, Guardia.all, :id, :nombre) %>
                    <%= ff.remove_nested_fields_link "Eliminar" %>
                  <% end %>
                    <%= form.add_nested_fields_link :puesto_puestos, class: 'btn btn-success' do %>
                    <i class="glyphicon glyphicon-plus"></i><% end %>
                  </div>
              </div>
              
              <br>

              <!-- Para seleccionar mas productos en el formulario -->
              <div class="col-xs-10">
                  <%= form.label "Agregar Equipamientos" %>
                  <%= form.nested_fields_for :producto_puestos do |fff| %>
                  <div class="field">
                    <%= fff.label "Equipamientos" %>
                    <%= fff.collection_select(:producto_id, Producto.all, :id, :nomProducto) %>
                    <%= fff.number_field :cantidadAsignada, id: :producto_puestos_cantidadAsignada, class: "form-control", placeholder:"Cantidad" %><br><br>
                  
                    <%= fff.remove_nested_fields_link "Eliminar" %>
                  <% end %>
                    <%= form.add_nested_fields_link :producto_puestos, class: 'btn btn-success' do %>
                    <i class="glyphicon glyphicon-plus"></i><% end %>
                  </div>
              </div>
              
              <br><br>

              

              <br><br>

            <div class="col-xs-6">
                  <div class="field">
                    <%= form.label "Fecha Inicio" %>
                    <%= form.date_field :fechaInicio, id: :puesto_fechaInicio, class: "form-control", placeholder:"Fecha Inicio" %><br><br>
                  </div>
            </div>

            <br><br>

            <div class="col-xs-6">
                <div class="field">
                    <%= form.label "Hora Entrada" %>
                    <%= form.time_field :hora_entrada, id: :puesto_hora_entrada, class: "form-control" %><br><br>
                </div>
            </div>

            <br><br>

            <div class="col-xs-6">
                  <div class="field">
                    <%= form.label "Hora Salida " %>
                    <%= form.time_field :hora_salida, id: :puesto_hora_salida, class: "form-control" %><br><br>
                  </div>
            </div>

            <br><br>

            <div class="col-xs-6">
                  <div class="field">
                      <%= form.label "Fecha Fin" %>
                      <%= form.date_field :fechaFin, id: :puesto_fechaFin, class: "form-control", placeholder:"Fecha Fin" %><br><br>
                  </div>
            </div>

            <br><br>
          
            <div class="col-xs-2">
              <div class="field">
                    <%= form.label "Dejar Puesto" %>
                    <%= form.check_box :estado, id: :puesto_estado %>
                    </div>
              </div>
        </div>
    

</div>

  
        <div class="col-xs-3">
          <div class="actions">
              <%= form.submit "Guardar", :class=>"button-guardar" %>
          </div>
          <% end %>
        </div>

</div>

</div>