<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
      <div class="row"><br><br>
      <div class="col-xs-12">
          <div class="col-xs-6">
          </div>

          <div class="col-xs-6">
				<%= link_to edit_puesto_path(@puesto), class: "btn btn-info" do %><i class="glyphicon glyphicon-pencil"></i> Editar <% end %> |
				<%= link_to puestos_path, class: "btn btn-default"  do %><i class="glyphicon glyphicon-arrow-left"></i> Atras <% end %>         		

          </div>
          <br><br><br><br>
         
          			<div class="col-xs-12">
                    <table class="table table-hover">
                      <thead>
                      	<tr>
                          <th>Puesto</th>
                          <th>Guardia</th>
                          <th>Fecha Inicio</th>
                          <th>Hora Entrada</th>                        
                         <th>Hora Salida</th>
                          <th>Fecha Fin</th>
                          <th>Estado</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
		            		<td><p class="navbar-text">
							
							 <%= @puesto.cliente.nombre %>
							</p></td>
				
							<td><p class="navbar-text">
							 
							  <%= @puesto.regis_guardium.nombre %>
							</p></td>
							
										
							<td><p class="navbar-text">
							  
							  <%= @puesto.fechaInicio %>
							</p></td>
							<br>

							<td><p class="navbar-text">
							  
							  <%= @puesto.hora_entrada %>
							</p></td>
							
							<td><p class="navbar-text">
							  
							  <%= @puesto.hora_salida %>
							</p></td>

							<td><p class="navbar-text">
							  
							  <%= @puesto.fechaFin %>
							</p></td>
						</tr>
		              </tbody>
		            </table>          
          		</div>

          		<div class="col-xs-7">
          		</div>

          		<br><br>
          		<div class="col-xs-7">
                    <table class="table table-hover">
                      <thead>
                      	<tr>
          					<th>Equipamientos</th>
                          	<th>Cantidad Asignado</th>
                          	<!--<th> Cantidad Disponible </th> -->
                        </tr>
                       </thead>

                      <tbody>
                        <tr>
                        	<td><p class="navbar-text">
							  
							  <%= @puesto.producto.nomProducto %>
							</p></td>

							<td><p class="navbar-text">
							  
							  <%= @puesto.cantidad %>
							</p></td>
							
							<td><p class="navbar-text">
							  
							 <!--<%= @sumar %> -->
							</p></td>
						</tr>
		              </tbody>
		            </table>          
          		</div>

          		<div class="col-xs-7">
          		</div>

      		</div>
    	</div>
  	</div>

<div id="calendar"></div>