<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @guardia.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @guardia.apellido %>
</p>

<p>
  <strong>Numdocumento:</strong>
  <%= @guardia.numDocumento %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @guardia.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @guardia.telefono %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @guardia.fechaNacimiento %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @guardia.nacionalidad %>
</p>

<p>
  <strong>Estadocivil:</strong>
  <%= @guardia.estadoCivil %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @guardia.edad %>
</p>

<p>
  <strong>Gruposanguineo:</strong>
  <%= @guardia.grupoSanguineo %>
</p>

<p>
  <strong>Estudios:</strong>
  <%= @guardia.estudios %>
</p>

<p>
  <strong>Nombrepadre:</strong>
  <%= @guardia.nombrePadre %>
</p>

<p>
  <strong>Nombremadre:</strong>
  <%= @guardia.nombreMadre %>
</p>

<p>
  <strong>Direccionalternativo:</strong>
  <%= @guardia.direccionAlternativo %>
</p>

<p>
  <strong>Telurgencia:</strong>
  <%= @guardia.telUrgencia %>
</p>

<p>
  <strong>Fechaingreso:</strong>
  <%= @guardia.fechaIngreso %>
</p>

<p>
  <strong>Sueldoinicial:</strong>
  <%= @guardia.sueldoInicial %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @guardia.observacion %>
</p>

<%= link_to 'Edit', edit_guardia_path(@guardia) %> |
<%= link_to 'Back', guardias_path %>
