<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
      <div class="row"><br><br>
      <div class="col-xs-12">
          <div class="col-xs-6">
          </div>

          <div class="col-xs-6">
            <%= link_to edit_guardia_path(@guardia), class: "btn btn-info" do %><i class="glyphicon glyphicon-pencil"></i>  Editar <% end %> |
            <%= link_to guardias_path, class: "btn btn-default"  do %><i class="glyphicon glyphicon-arrow-left"></i> Atras <% end %>
          </div>
          <br><br><br><br>
          <div class="col-xs-10">
            <table class="table table-striped">

              <tbody>
                <tr>

                <td><p>
                  <strong>Nombre:</strong>
                  <%= @guardia.nombre %>
                </p></td>

                <td><p>
                  <strong>Apellido:</strong>
                  <%= @guardia.apellido %>
                </p></td>
                <td><p>
                  <strong>Numdocumento:</strong>
                  <%= @guardia.numDocumento %>
                </p></td>

                <td><p>
                  <strong>Direccion:</strong>
                  <%= @guardia.direccion %>
                </p></td>

                <td><p>
                  <strong>Telefono:</strong>
                  <%= @guardia.telefono %>
                </p></td>

                <td><p>
                  <strong>Fechanacimiento:</strong>
                  <%= @guardia.fechaNacimiento %>
                </p></td>

                <td><p>
                  <strong>Edad:</strong>
                  <%= @guardia.edad %>
                </p></td>

                <td><p>
                  <strong>Nacionalidad:</strong>
                  <%= @guardia.nacionalidad %>
                </p></td>

                <td><p>
                  <strong>Estadocivil:</strong>
                  <%= @guardia.estadoCivil %>
                </p></td>
           </tr>
            <br>
            <tr>

                <td><p>
                  <strong>Gruposanguineo:</strong>
                  <%= @guardia.grupoSanguineo %>
                </p></td>

                <td><p>
                  <strong>Estudios:</strong>
                  <%= @guardia.estudios %>
                </p></td>

                <td><p>
                  <strong>Nombrepadre:</strong>
                  <%= @guardia.nombrePadre %>
                </p></td>

                <td><p>
                  <strong>Nombremadre:</strong>
                  <%= @guardia.nombreMadre %>
                </p></td>

                <td><p>
                  <strong>Direccionalternativo:</strong>
                  <%= @guardia.direccionAlternativo %>
                </p></td>

                <td><p>
                  <strong>Telurgencia:</strong>
                  <%= @guardia.telUrgencia %>
                </p></td>

                <td><p>
                  <strong>Fechaingreso:</strong>
                  <%= @guardia.fechaIngreso %>
                </p></td>

                <td><p>
                  <strong>Sueldoinicial:</strong>
                  <%= @guardia.sueldoInicial %>
                </p></td>

                <td><p>
                  <strong>Observacion:</strong>
                  <%= @guardia.observacion %>
                </p></td>
                
            </tbody>
          </table>          
         </div>
      </div>
    </div>
  </div>

