<p id="notice"><%= notice %></p>

<h1>Puesto Puestos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puesto_puestos.each do |puesto_puesto| %>
      <tr>
        <td><%= link_to 'Show', puesto_puesto %></td>
        <td><%= link_to 'Edit', edit_puesto_puesto_path(puesto_puesto) %></td>
        <td><%= link_to 'Destroy', puesto_puesto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Puesto Puesto', new_puesto_puesto_path %>
