<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3">
            <h2>Registrar Guardia</h2><br><br><br>
        </div>
      
        <div class="col-xs-5">        
        </div>
        <div class="col-xs-4">
            <%= form_tag regis_guardia_path, :method => 'get' do %>
                <p>
                  <%= text_field_tag :search, params[:search] %>
                  <%= submit_tag "Buscar", :name => nil %>
                </p>
            <% end %>
        </div>

    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <b><th>Nombre</th>
                              <th>Apellido</th>
                              <th>Nº C.I</th>
                              <th>Direccion</th>
                              <th>Telefono</th>
                              <th>Fecha Nacimiento</th>
                              <th>Edad</th>
                              <th>Nacionalidad</th>
                              <!--<th>Estado Civil</th>
                              <th>Grupo Sanguineo</th>
                              <th>Estudios</th>
                              <th>Nombre del Padre</th>
                              <th>Nombre de la Madre</th>
                              <th>Direccion Alternativa</th>
                              <th>Tel. Urgencia</th>
                              <th>Fecha Ingreso</th>
                              <th>Sueldo Inicial</th>
                              <th>Observacion</th>-->
                              <th>Estado</th>
                              <th colspan="3"></th></b>
                            </tr>
                        </thead>

                        <tbody>
                              <% @regis_guardia.each do |regis_guardium| %>
                                <tr>
                                  <td><%= regis_guardium.nombre %></td>
                                  <td><%= regis_guardium.apellido %></td>
                                  <td><%= regis_guardium.numDocumento %></td>
                                  <td><%= regis_guardium.direccion %></td>
                                  <td><%= regis_guardium.telefono %></td>
                                  <td><%= regis_guardium.fechaNacimiento %></td>
                                  <td><%= regis_guardium.edad %></td>
                                  <td><%= regis_guardium.nacionalidad %></td>
                                 <!-- <td><%= regis_guardium.estadoCivil %></td>
                                  <td><%= regis_guardium.grupoSanguineo %></td>
                                  <td><%= regis_guardium.estudios %></td>
                                  <td><%= regis_guardium.nombrePadre %></td>
                                  <td><%= regis_guardium.nombreMadre %></td>
                                  <td><%= regis_guardium.direccionAlternativa %></td>
                                  <td><%= regis_guardium.telUrgencia %></td>
                                  <td><%= regis_guardium.fechaIngreso %></td>
                                  <td><%= regis_guardium.sueldoInicial %></td>
                                  <td><%= regis_guardium.observacion %></td> -->
                                  <td><%= regis_guardium.estado %></td>

                                  <td><%= link_to regis_guardium, class: 'btn btn-info' do %>
                                    <i class="glyphicon glyphicon-eye-open"></i> Ver Más
                                    <% end %> </td>

                                  <td><%= link_to edit_regis_guardium_path(regis_guardium), class: 'btn btn-info' do %>
                                    <i class="glyphicon glyphicon-edit"></i> Editar <% end %>
                                  </td>

                                  <td><%= link_to regis_guardium, method: :delete, data: { confirm: 'Estás seguro de Borrar?' } , class: 'btn btn-primary' do %>
                                    <i class="glyphicon glyphicon-trash"></i> Eliminar <% end %>
                                  </td>

                                </tr>
                              <% end %>
                            </tbody>
                      </table>
                    </div>
                  </div>
            </div>

          <div class="col-xs-3">
            <%= link_to new_regis_guardium_path, class: 'btn btn-success' do %>
            <i class="glyphicon glyphicon-user"></i> Nuevo Registro
             <% end %>
          </div>

          <div class="col-xs-5">
          </div>
          

</div>

</div>
</div>
</div>


