<p id="notice"><%= notice %></p>

<h1>Regis Guardia</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Numdocumento</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Fechanacimiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regis_guardia.each do |regis_guardium| %>
      <tr>
        <td><%= regis_guardium.nombre %></td>
        <td><%= regis_guardium.apellido %></td>
        <td><%= regis_guardium.numDocumento %></td>
        <td><%= regis_guardium.direccion %></td>
        <td><%= regis_guardium.telefono %></td>
        <td><%= regis_guardium.fechaNacimiento %></td>
        <td><%= link_to 'Show', regis_guardium %></td>
        <td><%= link_to 'Edit', edit_regis_guardium_path(regis_guardium) %></td>
        <td><%= link_to 'Destroy', regis_guardium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regis Guardium', new_regis_guardium_path %>
