<p id="notice"><%= notice %></p>

<div id="main-container" class="container">
      <div class="row"><br><br>
      <div class="col-xs-12">
          <div class="col-xs-6">
          </div>

          <div class="col-xs-6">
              <%= link_to edit_regis_guardium_path(@regis_guardium), class: "btn btn-info" do %><i class="glyphicon glyphicon-pencil"></i>  Editar <% end %> |
                          <%= link_to regis_guardia_path, class: "btn btn-default"  do %><i class="glyphicon glyphicon-arrow-left"></i> Atras <% end %>
          </div>
          <br><br><br><br>
          <div class="col-xs-10">
            <table class="table table-striped">

              <tbody>
                <tr>
                      <td><p>
                        <strong>Nombre:</strong>
                        <%= @regis_guardium.nombre %>
                      </p></td>

                      <td><p>
                        <strong>Apellido:</strong>
                        <%= @regis_guardium.apellido %>
                      </p></td>

                      <td><p>
                        <strong>Numdocumento:</strong>
                        <%= @regis_guardium.numDocumento %>
                      </p></td>

                      <td><p>
                        <strong>Direccion:</strong>
                        <%= @regis_guardium.direccion %>
                      </p></td>

                      <td><p>
                        <strong>Telefono:</strong>
                        <%= @regis_guardium.telefono %>
                      </p></td>

                      <td><p>
                        <strong>Fechanacimiento:</strong>
                        <%= @regis_guardium.fechaNacimiento %>
                      </p></td>

                      <td><p>
                        <strong>Edad:</strong>
                        <%= @regis_guardium.edad %>
                      </p></td>

                      <td><p>
                        <strong>Nacionalidad:</strong>
                        <%= @regis_guardium.nacionalidad %>
                      </p></td>

                      <td><p>
                        <strong>Estado Civil:</strong>
                        <%= @regis_guardium.estadoCivil %>
                      </p></td>
        
                </tr>
                <br>
                <tr>
                    
                      <td><p>
                        <strong>Grupo Sanguineo:</strong>
                        <%= @regis_guardium.grupoSanguineo %>
                      </p></td>

                      <td><p>
                        <strong>Estudios:</strong>
                        <%= @regis_guardium.estudios %>
                      </p></td>

                      <td><p>
                        <strong>Nombre del Padre:</strong>
                        <%= @regis_guardium.nombrePadre %>
                      </p></td>

                      <td><p>
                        <strong>Nombre de la Madre:</strong>
                        <%= @regis_guardium.nombreMadre %>
                      </p></td>

                      <td><p>
                        <strong>Direccion Alternativa:</strong>
                        <%= @regis_guardium.direccionAlternativa %>
                      </p></td>

                      <td><p>
                        <strong>Tel. Urgencia:</strong>
                        <%= @regis_guardium.telUrgencia %>
                      </p></td>

                      <td><p>
                        <strong>Fecha Ingreso:</strong>
                        <%= @regis_guardium.fechaIngreso %>
                      </p></td>


                      <td><p>
                        <strong>Observacion:</strong>
                        <%= @regis_guardium.observacion %>
                      </p></td>
              </tbody>
            </table>          
          </div>
      </div>
    </div>
  </div>
