<%= form_with(model: puesto_registro, local: true) do |form| %>
  <% if puesto_registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(puesto_registro.errors.count, "error") %> prohibited this puesto_registro from being saved:</h2>

      <ul>
      <% puesto_registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
          <div class="col-xs-4">
          </div>
          <div class="jumbotron">
            <div class="container">
          <div class="col-xs-5">
                <form class="form-inline">

                 
                  Puesto
                   <div class="field">
                    <%= form.collection_select(:clientes_id, Cliente.all, :id, :cliente, :class=>"form-control input-sm") %><br><br>
                  </div>

                  <div class="field">
                    <%= form.text_field :direccion, id: :puesto_registro_direccion, class: "form-control", placeholder: "Direccion" %><br><br> 
                  </div>

              <div class="field">
                    <%= form.text_field :turno, id: :puesto_registro_turno, class:"form-control", placeholder:"Turno" %><br><br> 
                  </div>
                        </div>
          <div class="col-xs-2">
          </div>
          <div class="col-xs-4">

                  Guardia
                  <div class="field">
                    <%= form.collection_select(:regis_guardium_id, RegisGuardium.all, :id, :nombre, :class=>"form-control input-sm") %><br><br>
                  </div>

                  Hora Entrada
                  <div class="field"> 
                    <%= form.time_select :horaEntrada, id: :puesto_registro_horaEntrada, class:"form-control"%> <br><br> 
                  </div>

                  Hora Salida
                  <div class="field">
                    <%= form.time_select :horaSalida, id: :puesto_registro_horaSalida, class:"form-control" %>
                  </div>
          </div>
          <div class="col-xs-2">
          </div>
          <div class="col-xs-3">
          </div>
          </div>
          </div>

     <div class="col-xs-3">
        <div class="actions">
            <%= form.submit "Guardar", :class => "button-guardar"  %>
        </div>
        <% end %>
    </div>
