<p id="notice"><%= notice %></p>

<h1>Puesto Registros</h1>

<table>
  <thead>
    <tr>
      <th>Puestonombre</th>
      <th>Direccion</th>
      <th>Turno</th>
      <th>Horaentrada</th>
      <th>Horasalida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puesto_registros.each do |puesto_registro| %>
      <tr>
        <td><%= puesto_registro.puestoNombre %></td>
        <td><%= puesto_registro.direccion %></td>
        <td><%= puesto_registro.turno %></td>
        <td><%= puesto_registro.horaEntrada %></td>
        <td><%= puesto_registro.horaSalida %></td>
        <td><%= link_to 'Show', puesto_registro %></td>
        <td><%= link_to 'Edit', edit_puesto_registro_path(puesto_registro) %></td>
        <td><%= link_to 'Destroy', puesto_registro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Puesto Registro', new_puesto_registro_path %>
