<p id="notice"><%= notice %></p>
<div id="main-container" class="container">
      <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-3">
                <h2>Registrar Puesto </h2><br><br><br>
        </div>
        <div class="col-xs-5">
        </div>
        <div class="col-xs-4">
            <%= form_tag puesto_registros_path, :method => 'get' do %>
                <p>
                  <%= text_field_tag :search, params[:search] %>
                  <%= submit_tag "Buscar", :name => nil %>
                </p>
            <% end %>
        </div>

          <div class="col-xs-12">
            <div class="jumbotron">
              <div class="container">
              <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-3">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Puesto</th>
                          <th>Direccion</th>
                          <th>Guardia</th>
                          <th>Turno</th>
                          <th>Hora Entrada</th>
                          <th>Hora Salida</th>
                          <th></th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @puesto_registros.each do |puesto_registro| %>
                          <tr>
                            <td><%= puesto_registro.puestoNombre %></td>
                            <td><%= puesto_registro.direccion %></td>
                            <td></td>
                            <td><%= puesto_registro.turno %></td>
                            <td><%= puesto_registro.horaEntrada %></td>
                            <td><%= puesto_registro.horaSalida %></td>
                             <td><%= link_to Calendario %></td>


                            <td><%= link_to puesto_registro, class: 'btn btn-info' do %>
                                    <i class="glyphicon glyphicon-eye-open"></i> Ver
                                    <% end %> 
                            </td>

                            <td><%= link_to edit_puesto_registro_path(puesto_registro), class: 'btn btn-info' do %>
                                    <i class="glyphicon glyphicon-edit"></i> Editar <% end %>
                            </td>

                            <td><%= link_to puesto_registro, method: :delete, data: { confirm: 'Estas Seguro?' }, class: 'btn btn-primary' do %>
                                    <i class="glyphicon glyphicon-trash"></i> Eliminar <% end %>
                            </td>

                        </tr>
                              <% end %>
                            </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <div class="col-xs-3">
          <%= link_to new_puesto_registro_path, class: 'btn btn-success' do %>
          <i class="glyphicon glyphicon-user"></i> Nuevo Registro
          <% end %>
        </div>
        <div class="col-xs-5">
        </div>
        
</div>

</div>
</div>
</div>

                
